.name {
    display: flex;
    flex-direction: column;
}
.list {
    display: flex;
    flex-direction: column;
}
.work {
    display: flex;
    flex-direction: row;
}
.interests {
    display: flex;
    flex-direction: row;
}
.reading {
    display: flex;
    flex-direction: column;
}